<div class="container">
    <div class="row mb-3">
        <h1>First Gen Pokémons</h1>
        <div class="example-button-row d-flex justify-content-end">
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="'grid'">
                <mat-button-toggle value="grid" (click)="switchView(false)">
                  <mat-icon>view_module</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="list" (click)="switchView(true)">
                  <mat-icon>view_list</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="row" *ngIf="!loaded">
        <div class="w-100 d-flex justify-content-center">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>

<div *ngIf="loaded" class="container animate__animated animate__backInUp animate__fast mb-4">
    <div class="row" *ngIf="showList">
        <app-grid [items]="gridDtos"></app-grid>
    </div>

    <div class="row" *ngIf="!showList">
        <div
        *ngFor="let item of cardDtos; let i = index"
        class="col-xs-6 col-sm-6 col-md-4 col-lg-3 mt-4">
            <app-card [item]="item"></app-card>
        </div>
    </div>
</div>